
  /**********************************
  SCREEN SIZES BETWEEN 480px and 999px
  ***********************************/


@media screen and (min-width: 480px) and (max-width: 999px) {


  /**********************************
LEFT BAR
  ***********************************/

.left-bar {
	display: block;
	margin-left: 0px;
}  

table {
	margin-left: 0px;

}



  /**********************************
SIGN UP PAGE
  ***********************************/


#signup-wrapper {
/*    max-width: 480px; */
  }

}


	.feat-img {
		width: 50%;
		float: left;
		margin-right: 25px;
	}
	.col img{
		width: 40%;
		border-radius: 50%;
	}

  /**********************************
SCREEN SIZES ABOVE 1000px (DESKTOPS)
  ***********************************/


@media screen and (min-width: 1000px) {

  /**********************************
  HEADER
  ***********************************/

  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size: 2.5em;
  }
  
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }
  
  #wrapper {
	font-size: 1em;
	clear: both;
  }


  /**********************************
LEFT BAR
  ***********************************/

.left-bar {
	display: block;	
}
  
}

  /**********************************
SIGN UP PAGE
  ***********************************/


#signup-wrapper{
    max-width: 480px;
  }

  
  	.feat-img {
		width: 50%;
		float: left;
		margin-right: 25px;
	}
	.col img{
		width: 40%;
		border-radius: 50%;
	}

